{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="text-center mt-10 mb-5">Update my account</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}

    <div class="text-center mb-2">
        {{ form_row(form.firstname) }}
    </div>
    <div class="text-center mb-2">
        {{ form_row(form.lastname) }}
    </div>
    <div class="text-center mb-2">
        {{ form_row(form.duckname) }}
    </div>
    <div class="text-center mb-2">
        {{ form_row(form.email) }}
    </div>
    <div class="text-center mb-2">
        {{ form_row(form.plainPassword, {
            label: 'Password'
        }) }}
    </div>
    <div class="text-center mb-10">
        <button type="submit" class="btn text-center">Register</button>
    </div>

    {{ form_end(form) }}

{% endblock %}
